/* Common styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  /* End of common styles */
  /* Intro section */
  .intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3)),url(img/bg.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .center {
    display: flex;
    justify-content: center;
    align-items: center; */
  .intro-name{
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }
  .h1-intro{
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 10px;
    color: #e6e9eb;
  }
  .h1-intro span{
    color: #68c3a3
  }
  .intro-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    background-color: #1b262c;
    border-radius: 20px;
    border: 0.3rem solid #333;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  /* Navbar */
  .navbar {
    width: 100%;
    height: 6rem;
    background-color: #1b262c;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 300;
  }
  .sticky {
    position: fixed;
    top: 0;
  }
  .navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
  }
  
  .change.navbar-link {
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #fff;
  }
  
  .navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;
  }
  
  .change.navbar-link::before {
    width: 130%;
  }
  
  .navbar-link:hover::before {
    width: 130%;
  }
  /* End of Navbar */
  /* Section 2 */
.section-2 {
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-p{
    font-size: 3rem;
    font-weight: 300;
    line-height: 40px;
    margin-left: 30px
  }
  .bilal-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.7rem solid #1b262c;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 0;
    padding: 0.5rem;
    opacity: 0.9;
  }
  .bilal-name {
    font-size: 2rem;
    background-color: #1b262c;
    color: #fff;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
  }
  .heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
    margin-top: -3rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  .card-container{
    width: 100%;
      height: 100%;
      padding: 5rem 0 10rem 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .upper-container{
      height:50px;
      background-color: white;
    }
    .p-container p{
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-shadow: 0.2rem 0.2rem 0.5rem #555;
    }
    .lower-container{
      height: 380px;
    }
    .progress-bars-wrapper {
      margin-bottom: 10rem;
    }
    
    .progress-bar {
      width: 60rem;
      height: 3rem;
      background-color: #ccc;
      margin: 1.5rem 0;
      border-radius: 0.3rem;
      box-shadow: 0.2rem 0.2rem 1rem #555;
      position: relative;
    }
    
    .progress-text {
      position: absolute;
      left: 1rem;
      font-size: 1.5rem;
      color: #fff;
    }
    
    .progress-text span {
      /* margin: 0 0.5rem; */
      font-size: 1.8rem;
      font-weight: 700;
    }
    
    .progress-percent {
      width: 0;
      height: 100%;
      background-color: #333;
      border-radius: 0.3rem;
      transition: width 0.5s 0.5s ease-in-out;
    }
    .skills{
      width: 100%;
      height: 100%;
      padding: 5rem 0 10rem 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
      .section-4 {
        width: 100%;
        height: 70vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      
      .section-4-heading {
        color: #fff;
        box-shadow: none;
        border-color: #fff;
        margin-bottom: 5rem;
      }
      .contact{
        color: #FFFFFF;
      }
      .contact-p{
        font-size: 3rem;
        color: #fff;
        text-align: center;
      }
      .contact-p a{
        color: #fff;
      }
      .contact-form {
        width: 50rem;
        flex-direction: column;
      }
      
      .contact-form input,
      .contact-form textarea {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        background-color: #eef;
        font-size: 1.5rem;
        border: 0.2rem solid #333;
        border-radius: 10px;
        color: #555;
      }
      
      .contact-form textarea {
        height: 10rem;
        max-height: 15rem;
        max-width: 100%;
      }
      
      .contact-form .contact-form-btn {
        background-color: #233e5e;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1rem;
        cursor: pointer;
      }
      .btn{
        background: #11CDD4;
        width: 100%;
        background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
        background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
        background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
        background-image: -o-linear-gradient(top, #11CDD4, #11999E);
        background-image: linear-gradient(to bottom, #11CDD4, #11999E);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 100;
        padding: 11px;
        box-shadow: 1px 1px 20px 0px #000000;
        -webkit-box-shadow: 1px 1px 20px 0px #000000;
        -moz-box-shadow: 1px 1px 20px 0px #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #337FED 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center}
        
      .btn:hover {
        border: solid #337FED 1px;
        background: #30E3CD;
        background-image: -webkit-linear-gradient(top, #30E3CD, #2B4AD4);
        background-image: -moz-linear-gradient(top, #30E3CD, #2B4AD4);
        background-image: -ms-linear-gradient(top, #30E3CD, #2B4AD4);
        background-image: -o-linear-gradient(top, #30E3CD, #2B4AD4);
        background-image: linear-gradient(to bottom, #30E3CD, #2B4AD4);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
      }    
      .section-5 {
        width: 100%;
        height: 30vh;
        background-color: #222;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .social-media {
        margin-bottom: 5rem;
      }
      
      .social-media-link {
        margin: 0 2rem;
        padding: 0.7rem;
        background-color: #333;
        border-radius: 0.5rem;
        display: inline-block;
      }
      
      .social-media-link i {
        font-size: 3rem;
        color: #fff;
      }
      
      .copyright {
        color: #aaa;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        text-align: center;
      }
    
